*{
    --color-principal: #65C400;
    --color-secundario: #DDDEDC;
    --color-principalGlass: #65c4005b;
    --color-secundarioGlass: #dddedccc;
    --color-texto: #383838;
    --color-textoGlass: #383838a9;
    --color-border: #dee2e6;
    --color-placeholder: #b4b4b4;
    --color-fondo: #f8f9fa;
    --color-parrafos: #515e72;
}
.wrapper_clientes{
    padding: 2rem 0;
    background-color: var(--color-fondo);
}
.clientes_texto h2{
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.clientes_logos{
    width: clamp(300px, 80%, 1380px);
}
.clientes_logos img{
    width: 12%;
}