*{
    --color-principal: #65C400;
    --color-secundario: #DDDEDC;
    --color-principalGlass: #65c4005b;
    --color-secundarioGlass: #dddedccc;
    --color-texto: #383838;
    --color-textoGlass: #383838a9;
    --color-border: #dee2e6;
    --color-placeholder: #b4b4b4;
    --color-fondo: #f8f9fa;
    --color-parrafos: #515e72;
}
.wrapper_estadisticas{
    min-height: 211px;
    background-color: var(--color-principal);
    color: white;
}
.wrapper_estadisticas > div{
    height: 98%;
    width: clamp(300px, 98%, 1320px);
}
.wrapper_estadisticas .card_estadisticas p {
    font-size: 1.6rem;
    font-weight: 600;
    
}


