.grid_cards_container  .wrapper,
.grid_cards_container .wrapper .wrapper_child{
    position: relative;
    border-radius: 10px;
    color: transparent;
    overflow: hidden;
}
.grid_cards_container  .wrapper:hover,
.grid_cards_container  .wrapper_child:hover,
.grid_cards_container  .wrapper span:hover{
    /* color: #5ce08f; */
    color: var(--color-principal);
    cursor: pointer
}
.grid_cards_container  .wrapper_img{
    filter: brightness(90%);
    transition: all 2s ease ;
}
.grid_cards_container  .wrapper_img:hover img{
    filter: brightness(40%) blur(4px);
    cursor: pointer;
}
.grid_cards_container  .wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    font-weight: 600;
    font-size: 1.4rem;

}

