*{
    --color-principal: #65C400;
    --color-secundario: #DDDEDC;
    --color-principalGlass: #65c4005b;
    --color-secundarioGlass: #dddedccc;
    --color-texto: #383838;
    --color-textoGlass: #383838a9;
    --color-border: #dee2e6;
    --color-placeholder: #b4b4b4;
    --color-fondo: #f8f9fa;
    --color-parrafos: #515e72;
}

.wrapper_queHacemos{
    padding: 7rem 0 3.5rem;
    background-color: var(--color-fondo);
}
.main_queHacemos{
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 400px 50px;
    grid-gap: 2rem;
    grid-template-areas: 
        "texto    ."
        "texto   img"
        "  .     img";
}
.main_queHacemos div:first-child{
    grid-area: texto;
    justify-items: start;
}
.main_queHacemos div:first-child h2{
    width: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    
}
.main_queHacemos_texto p{
    width: clamp(300px, 90%, 480px);
    font-weight: 500;
    color: var(--color-parrafos);
    font-size: 1.15rem;
    line-height: 1.8;
}
.main_queHacemos div:last-child{
    grid-area: img;
}
.main_queHacemos div:last-child img{
    transform: scale(1.2);
}
