*{
    --color-principal: #65C400;
    --color-secundario: #DDDEDC;
    --color-principalGlass: #65c4005b;
    --color-secundarioGlass: #dddedccc;
    --color-texto: #383838;
    --color-textoGlass: #383838a9;
    --color-border: #dee2e6;
    --color-placeholder: #b4b4b4;
}
.wrapper_nav nav{
    height: 60px;
}
.wrapper_nav .navbar-brand img{
    height: 60px;
}

/* @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        width: 500px;
        justify-content: center;
    }
} */
