*{
    --color-principal: #65C400;
    --color-secundario: #DDDEDC;
    --color-principalGlass: #65c4005b;
    --color-secundarioGlass: #dddedccc;
    --color-texto: #383838;
    --color-textoGlass: #383838a9;
    --color-border: #dee2e6;
    --color-placeholder: #b4b4b4;
}
.wrapper_nav{
    position: fixed;
    top: 0;
    z-index: 980;
    background-color: transparent;
}
.wrapper_nav nav{
    max-width: 1320px;
    height: 60px;
}
.wrapper_nav .navbar-brand img{
    height: 60px;
}

.nav-link{
    font-weight: 600;
    color: var(--color-secundario);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--color-principal);
    text-decoration: underline;
}
.active{
    color: var(--color-principal) !important;
    text-decoration: underline;
}
