*{
    --color-principal: #65C400;
    --color-secundario: #DDDEDC;
    --color-principalGlass: #65c4005b;
    --color-secundarioGlass: #dddedccc;
    --color-texto: #383838;
    --color-textoGlass: #383838a9;
    --color-border: #dee2e6;
    --color-placeholder: #b4b4b4;
    --color-fondo: #f8f9fa;
    --color-parrafos: #515e72;
}
.wrapper_nav{
    position: fixed;
    top: 0;
    z-index: 980;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.wrapper_nav nav{
    max-width: 1320px;
    height: 60px;
}
.wrapper_nav .navbar-brand img{
    height: 60px;
}
.nav-link{
    font-weight: 600;
    color: var(--color-secundario);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--color-principal);
    text-decoration: underline;
}
.activado{
    color: var(--color-principal) !important;
    text-decoration: underline;
}
.bg_nav{
    border-bottom: 1px solid var(--color-texto);
    background-color: var(--color-fondo);
}
.bg_nav_a{
    color: var(--color-texto);
}

@media (max-width:768px ){
    .navbar-nav{
        background-color: #f8f9fa;
    }
}
